appdirs==1.4.4
asyncio==3.4.3
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.7
idna==2.10
pdfminer.six==20201018
pycparser==2.20
pycryptodome==3.10.1
pyee==8.1.0
pyppeteer==0.2.5
python-dotenv==0.18.0
requests==2.25.1
sortedcontainers==2.4.0
tqdm==4.61.1
urllib3==1.26.5
websockets==8.1
xlrd==2.0.1
